body {
    margin-left: 50px;
    margin-top: 50px;
}

td {
    min-width: 75px;
    max-width: 75px;
    height: 68px;
}

p {
    margin: 0;
}

.symbol, .name, .mass, .shared-properties {
    text-align: center;
}

.name, .mass, .period {
    font-size: 10px;
} 

.symbol, .shared-properties {
    font-weight: bold;
}

.symbol {
    font-size: 18px;
}

.shared-properties {
    font-size: 12px;
}

.separator>td {
    border-top: 20px solid white;
}

.period-numbers {
    vertical-align: top;
}

/* colors for the alternative group classification system */ 
.alkali-metal {
    background: linear-gradient(140deg, rgba(225,39,90,1) 0%, rgba(161,39,60,1) 100%);
}

.alkaline-earth {
    background: linear-gradient(140deg, rgba(251,178,27,1) 0%, rgba(248,156,31,1) 100%);
}

.transition-metal {
    background: linear-gradient(140deg, rgba(253,229,163,1) 0%, rgba(244,238,61,1) 100%);
}

.basic-metal {
    background: linear-gradient(140deg, rgba(106,189,70,1) 0%, rgba(57,185,149,1) 100%);
}

.semimetal {
    background: linear-gradient(140deg, rgba(99,165,167,1) 0%, rgba(177,221,222,1) 100%);
}

.nonmetal {
    background: linear-gradient(140deg, rgba(61,140,197,1) 0%, rgba(93,197,209,1) 100%);
}

.halogen {
    background: linear-gradient(140deg, rgba(95,117,182,1) 0%, rgba(178,199,230,1) 100%);
} 
.noble-gas {
    background: linear-gradient(140deg, rgba(172,152,201,1) 0%, rgba(129,102,172,1) 100%);
}

.lanthanide{
    background: linear-gradient(140deg, rgba(126,105,175,1) 0%, rgba(172,67,153,1) 100%);
}

.actinide {
    background: linear-gradient(140deg, rgba(237,50,149,1) 0%, rgba(199,96,165,1) 100%);
}











