body {
    margin-left: 50px; margin-top: 50px;
}

.tableB, .tableC { margin-top: 20px; }

td {
    min-width: 75px; max-width: 75px; height: 68px;
}

p {
    margin: 0;
}

.symbol, .name, .mass, .shared-properties {
    text-align: center;
}

.name, .mass, .period {
    font-size: 10px;
}

.symbol, .shared-properties {
    font-weight: bold;
}

.symbol {
    font-size: 18px;
}

.shared-properties {
    font-size: 12px;
}

.period-numbers {
    vertical-align: top;
}

/* colors for the alternative group classification system */ .alkali-metal {
    background: linear-gradient(140deg, rgba(255,180,162,1) 0%,
    rgba(255,96,115,1) 100%);
}

.alkaline-earth {
    background: linear-gradient(140deg, rgba(165,199,212,1) 0%,
    rgba(78,128,152,1) 100%);
}

.transition-metal {
    background: linear-gradient(140deg, rgba(240,201,135,1) 0%,
    rgba(210,154,66,1) 100%);
}

.basic-metal {
    background: linear-gradient(140deg, rgba(200,167,209,1) 0%,
    rgba(142,81,154,1) 100%);
}

.semimetal {
    background: linear-gradient(140deg, rgba(187,185,197,1) 0%,
    rgba(106,110,115,1) 100%);
}

.nonmetal {
    background: linear-gradient(140deg, rgba(109,236,185,1) 0%,
    rgba(0,171,107,1) 100%);
}

.halogen {
    background: linear-gradient(140deg, rgba(160,244,219,1) 0%,
    rgba(55,193,167,1) 100%);
} .noble-gas {
    background: linear-gradient(140deg, rgba(219,146,178,1) 0%,
    rgba(164,81,131,1) 100%);
}

.lanthanide{
    background: linear-gradient(140deg, rgba(255,211,182,1) 0%,
    rgba(255,74,135,1) 100%);
}

.actinide {
    background: linear-gradient(140deg, rgba(225,198,217,1) 0%,
    rgba(255,128,141,1) 100%);
}











